{% load helpers %}

<table class="table table-hover panel-body attr-table">
  <tr>
    <td>Устройство</td>
    <td>{{ interface.device|linkify }}</td>
  </tr>
  <tr>
    <td>Интерфейс</td>
    <td>{{ interface|linkify }}</td>
  </tr>
  <tr>
    <td>Тип</td>
    <td>
      {{ interface.get_type_display }}
    </td>
  </tr>
  <tr>
    <td>Роль</td>
    <td>
      {{ interface.get_rf_role_display|placeholder }}
    </td>
  </tr>
  <tr>
    <td>Канал</td>
    <td>
      {{ interface.get_rf_channel_display|placeholder }}
    </td>
  </tr>
  <tr>
      <th scope="row">Частота канала</th>
      <td>
        {% if interface.rf_channel_frequency %}
          {{ interface.rf_channel_frequency|simplify_decimal }} МГц
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
  </tr>
  <tr>
      <th scope="row">Ширина канала</th>
      <td>
        {% if interface.rf_channel_width %}
          {{ interface.rf_channel_width|simplify_decimal }} МГц
        {% else %}
          {{ ''|placeholder }}
        {% endif %}
      </td>
  </tr>
</table>
