{% extends "admin/base_site.html" %}

{% block title %}Installed Плагины {{ block.super }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">На главную</a> &rsaquo;
        <a href="{% url 'plugins_list' %}">Установленные дополнения</a>
    </div>
{% endblock %}

{% block content_title %}<h1>Установленные дополнения {{ queue.name }}</h1>{% endblock %}

{% block content %}
<div id="content-main">
    <div class="module" id="changelist">
        <div class="results">
            <table id="result_list">
                <thead>
                    <tr>
                        <th><div class="text"><span>Название</span></div></th>
                        <th><div class="text"><span>Название пакета</span></div></th>
                        <th><div class="text"><span>Автор</span></div></th>
                        <th><div class="text"><span>Email Автора</span></div></th>
                        <th><div class="text"><span>Описание</span></div></th>
                        <th><div class="text"><span>Версия</span></div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for plugin in plugins %}
                        <tr class="{% cycle 'row1' 'row2' %}">
                            <td>
                                {{ plugin.verbose_name }}
                            </td>
                            <td>
                                {{ plugin.name }}
                            </td>
                            <td>
                                {{ plugin.author }}
                            </td>
                            <td>
                                {{ plugin.author_email }}
                            </td>
                            <td>
                                {{ plugin.description }}
                            </td>
                            <td>
                                {{ plugin.version }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
